body {
   background-color: #C4C4C4;
}

ul {
    padding: 0px;
}

.search__input {
    height: 61px;
    font-size: 250%;
}

.search__repo {
    display: block;
    margin: 0 auto;
    width: 500px;
}

.show__result {
    list-style-type: none;
    margin: 0 auto;
    width: 500px;
    background-color: #E3E3E3;
    height: 44px;
    border: 2px solid black;
    box-sizing: border-box;
    font-size: 170%;
    max-width: 503px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.show__result:hover {
    background-color: #65CDF9;
}

.repo__element {
    display: flex;
    justify-content: space-between;
    width: 503px;
    height: 101px;
    margin: 0 auto;
    background-color: #E27BEB;
    list-style-type: none;
    border: 1px solid black;
}

.repo__data {
    margin: 5px;
    font-size: 150%;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.repo__delete {
    margin: 30px;
    align-items: center;
    width: 45px;
    height: 43px;
    list-style-type: none;
    border: none;
    background-color: #E27BEB;
    background-image: url('svg/Vector\ 6.svg'),
                      url('svg/Vector\ 8.svg');
}